
.vs/OpenGLProject/FileContentIndex/3262eb27-24a3-459f-9e42-a9d15bb292f0.vsidx
.vs/OpenGLProject/FileContentIndex/3a584dab-55c9-4d5f-a81d-5d336e637673.vsidx
.vs/OpenGLProject/FileContentIndex/3cb2540e-4c49-43ad-b16d-0c8d838e349b.vsidx
.vs/OpenGLProject/FileContentIndex/4518e7b1-72f2-43bb-b06b-dd9ab4010da7.vsidx
.vs/OpenGLProject/FileContentIndex/76d669d9-1353-4336-aadc-b3aea9c6c44e.vsidx
.vs/OpenGLProject/FileContentIndex/a7e3b5a8-8e51-4d2e-9908-b702415f6456.vsidx
.vs/OpenGLProject/FileContentIndex/d4f6e2a0-e9e1-487a-9570-d703acc18f96.vsidx
.vs/OpenGLProject/FileContentIndex/e13bf193-14d3-4037-9693-d6048d13f99b.vsidx
.vs/OpenGLProject/FileContentIndex/f4d37c91-d427-43a0-985a-64191c873e83.vsidx
.vs/OpenGLProject/FileContentIndex/f716e3a6-e22c-4797-8eef-bdab039f6e2f.vsidx
.vs/OpenGLProject/v17/.suo
.vs/OpenGLProject/v17/Browse.VC.db
.vs/OpenGLProject/v17/fileList.bin
.vs/OpenGLProject/v17/ipch/AutoPCH/222a3d65672bb5db/ENEMY.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/475dd1e95f0b291a/RENDERUTILS.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/4feb7a7bcbd34e6a/VCTMP6380_536180.PLAYER.00000000.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/9069a69429cb835a/MAIN.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/bf3ec60e2a437a14/SHADERPROGRAM.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/cbda32828486a8c2/PLAYER.ipch
.vs/OpenGLProject/FileContentIndex/3262eb27-24a3-459f-9e42-a9d15bb292f0.vsidx
.vs/OpenGLProject/FileContentIndex/4518e7b1-72f2-43bb-b06b-dd9ab4010da7.vsidx
.vs/OpenGLProject/FileContentIndex/76d669d9-1353-4336-aadc-b3aea9c6c44e.vsidx
.vs/OpenGLProject/FileContentIndex/d4f6e2a0-e9e1-487a-9570-d703acc18f96.vsidx
.vs/OpenGLProject/FileContentIndex/f716e3a6-e22c-4797-8eef-bdab039f6e2f.vsidx
.vs/OpenGLProject/v17/.suo
.vs/OpenGLProject/v17/Browse.VC.db
.vs/OpenGLProject/v17/fileList.bin
.vs/OpenGLProject/v17/ipch/AutoPCH/222a3d65672bb5db/ENEMY.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/9069a69429cb835a/MAIN.ipch
.vs/OpenGLProject/v17/ipch/AutoPCH/cbda32828486a8c2/PLAYER.ipch
*.obj
*.log
*.log
/x64/Debug
